.box-form {
    border: 2px solid rgba(44, 247, 105, 0.6);
    max-width: 800px;
    padding: 30px 50px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: rgba(52, 248, 68, 0.2);

    .titolo,
    .form-casa {
        width: 300px;
    }

    .form-genere,
    .form-autore {
        max-width: 400px;
    }

    .form-isbn {
        width: 200px;
    }

    .form-copie,
    .form-pagine {
        width: 150px;
    }

}