.box-form {
    border: 2px solid rgba(44, 247, 105, 0.6);
    width: 800px;
    padding: 30px 50px;
    border-radius: 20px;
    background-color: rgba(52, 248, 68, 0.2);

    :first-child {
        font-size: 24px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
<<<<<<< HEAD
        flex-direction: column;
=======
        // flex-direction: column;
>>>>>>> origin/HEAD
    }

    .form-titolo,
    .form-autore,
    .form-casa {
        width: 350px;
    }

    .form-genere,
    .form-isbn {
        width: 300px;
    }

    .form-copie,
    .form-pagine,
    .form-isbn {
        width: 200px;
    }

}